on charger
    mkdir /system
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1

    load_system_props

    # Disable thermal
    write /sys/module/msm_thermal/core_control/enabled 0

    # Bring CPUs online
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000

    restorecon -R /sys/devices/system/cpu

    # Bring CPUs offline
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0

    # Enable thermal
    write /sys/module/msm_thermal/core_control/enabled 1

service charger /charger
    class charger
    group system graphics
    seclabel u:r:charger:s0

on init-cpus
    # Bring CPUs online
	write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
	write /sys/devices/system/cpu/cpu6/online 1
	write /sys/devices/system/cpu/cpu7/online 1
	
    # Disable thermal
    write /sys/module/msm_thermal/core_control/enabled 0

    # HMP scheduler (big.Little cluster related) settings
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 85

    write /proc/sys/kernel/sched_window_stats_policy 2
    write /proc/sys/kernel/sched_ravg_hist_size 5

    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu1/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu2/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu3/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu5/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu6/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu7/sched_mostly_idle_nr_run 3

    write /sys/class/devfreq/qcom,mincpubw.50/governor "cpufreq"
    write /sys/class/devfreq/qcom,cpubw.49/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,cpubw.49/bw_hwmon/io_percent 20
    write /sys/class/devfreq/qcom,cpubw.49/bw_hwmon/guard_band_mbps 30

    # Enable governor for power cluster
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 97
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 58000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 380000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 180000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "98000 1380000:58000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1180000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 680000:68 780000:60 980000:97 1180000:63 1280000:97 1380000:84"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0


    # Enable governor for perf cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 98
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 18000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 380000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1280000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "18000 1580000:98000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "80 880000:47 980000:68 1280000:74 1380000:92 1580000:98"
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 180000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0

	write /sys/module/cpu_boost/parameters/input_boost_ms 20
	write /sys/module/msm_performance/parameters/touchboost 0
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1380000 4:0"
	
    # HMP Task packing settings for 8976
    write /proc/sys/kernel/sched_small_task 30
    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu1/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu2/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu3/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu5/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu6/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu7/sched_mostly_idle_load 20
    write /proc/sys/kernel/sched_boost 0

    # Disable L2 GDHS on 8976
    write /sys/module/lpm_levels/system/a53/a53-l2-gdhs/idle_enabled "N"
    write /sys/module/lpm_levels/system/a72/a72-l2-gdhs/idle_enabled "N"

    # Enable Low power modes
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Enable core control
    insmod /system/lib/modules/core_ctl.ko

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres 68
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres 40
    write /sys/devices/system/cpu/cpu4/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu4/core_ctl/is_big_cluster 1
	write /sys/devices/system/cpu/cpu4/core_ctl/task_thres 4

    # Re-enable thermal
    write /sys/module/msm_thermal/core_control/enabled 1

    # Let kernel know our image version/variant/crm_version
    write /sys/devices/soc0/select_image 10
    write /sys/devices/soc0/image_version "10:${ro.build.id}:${ro.build.version.incremental}"
    write /sys/devices/soc0/image_variant "${ro.product.name}-${ro.build.type}"
    write /sys/devices/soc0/image_crm_version "${ro.build.version.codename}"

on property:sys.boot_completed=1
    # Bring up CPUs
    trigger init-cpus

	# Disable boot time fs tuning
    write /sys/block/sde/queue/read_ahead_kb 512
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/iostats 0
	
    # Enable Low Memory Killer
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # Enable sched colocation
    write /proc/sys/kernel/sched_spill_load 90
    write /proc/sys/kernel/sched_prefer_sync_wakee_to_waker 1
    write /proc/sys/kernel/sched_init_task_load 40
    write /proc/sys/kernel/sched_freq_inc_notify 3000000
	
	write /dev/cpuset/background/cpus 2-3
	write /dev/cpuset/system-background/cpus 2-3
	write /dev/cpuset/foreground/cpus 0-3,4-7
	write /dev/cpuset/top-app/cpus 0-3,4-7
	
	stop perfd